@import '../colors/colors';
@import '../adds/superclass';
@import '../../fonts/fonts';

.advbooking{
    @extend %align-center-columns;
    background-color: $w_background;
    width: 75rem;
    height: 28rem;
    margin-left: -30rem;

    &__breakline{
        height: 0.7rem;
        width: 13%;
        background-color: $r_background;
        border: hidden;
        margin-bottom: 0.5rem;
    }

    &__title{
        font-family: $h_font;
        font-style: normal;
        font-weight: 600;
        color: $txt_color;
        margin-bottom: 1.25rem;
    }

    &__filters{
        @extend %space-around;
        width: 40%;
        font-family: $h_font;
        color: $txt_color;
        margin-top: 1.5rem;
        
        &-filter{
            @extend %flex-column;

            &-select{
                border: none;
                font-family: $h_font;
                color: $txt_color;
                font-weight: 300;
                outline: none;

                &[type="date"]::-webkit-calendar-picker-indicator,
                &[type="time"]::-webkit-calendar-picker-indicator,
                &[type="number"]::-webkit-inner-spin-button{
                    display: none;
                }

                &[type="number"]{
                    width: 1.5rem;
                    margin-right: 0.3rem;
                }
            }

        
        }

        &-contlabels{
            &-button{
                color: $r_background;
                font-size: 1.3em;
                border: none;
            }

            &-label{
                &--flex{
                    font-weight: 300;
                    font-size: 0.86em;
                    margin-left: -1rem;
                }
            }
        }
    }
}