.image {
  position: absolute;
  right: 140px;
  top: 130px;
  width: 800px;
  height: 792px;

  &--lettuce {
    top: -55px;
    right: 190px;
    bottom: 170px;
    width: 584px;
    height: 900px;

    &left {
      position: relative;
      width: 600px;
      height: 1533.6px;
      left: -3px;
      top: -40px;
      background-image: none;
    }

    &right {
      position: relative;
      width: 400px;
      height: 702px;
      left: 40px;
      top: -40px;
      background-image: none;
    }

    &phone{
      position: relative;
      width: 700px;
      height: 730px;
      right: -300px;
      top: 50px;
      background-image: none;
      transform: rotate(-15.33deg);
    }
  }
}
