@import '../colors/colors';
@import '../../fonts/fonts';
@import '../adds/superclass';

.services{
    width: 100%;
    height: 77%;
    background-image: url('../../images/vector-bg.svg');
    background-repeat: space;
    background-size: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    &__item{   
        height: 50%;
        @extend %align-center;

        &--delivery{
            height: 75%;
            width: 30%;
        }

        &-img{
            @extend %align-center;
            width: 20rem;
            height: 17rem;
            background-color: $background_secondary;

            &-src{

                height: 80%;
                width: 80%;

                &--delivery{
                    height: 15rem;
                    width: 15rem;
                    margin-bottom: 2rem;
                }
            }

            &-paragraph{
                width: 40%;
                margin-top: 1rem;
                text-align: center;
                font-family: $h_font;
                color: $description_txt;
                font-size: 0.85em;

                &--desc{
                    position: relative;
                    right: 40rem;
                    top: 3rem;
                    width: 25%;
                }

                &--desc-right{
                    position: relative;
                    top: 3rem;
                    right: 13.5rem;
                    width: 25%;
                }
            }

            &-breakline{
                width: 30%;
                height: 0.2rem;
                background-color: $r_background;
                border: none;
                margin-top: 1rem;
            }

            &--delivery{
                width: 150%;
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                
            }
        }

        
        &-info{
            width: 20rem;
            display: flex;
            justify-content: flex-end;

            &-pointer{
                height: 1rem;
                position: relative;
                top: 2.4rem;
                left: 0.35rem;
                color: $r_background;

                &--right{
                    top: 2.4rem;
                    left: 9.25rem;
                }
            }

            &--delivery{
                justify-content: center;
            }
        }

        &-title{
            width: 11rem;
            font-family: $h_font;
            font-weight: 600;
            color: $txt_color;
            margin-left: 0.5rem;

            &-arrow{
                position: relative;
                bottom: 0.8rem;
                left: 5.4rem;
                border: none;
                height: 0.2rem;
                width: 50%;
                background-color: $r_background;

                &--select{
                    left: 0;
                    top: 2.8rem;
                    bottom: 1rem;
                }

                &--right{
                    bottom: 0;
                    left: 0.8rem;
                    top: 2.8rem;
                }
            }

            &--right{
                text-align: right;
            }

            &--delivery{
                margin-left: 0;
                width: 60%;
                text-align: center;
                
            }
        }
    }
}