.vector{
    background-image: url('../../images/vector-bg.svg');
    background-size: cover;

    &--main{
        position: absolute;
        width: 350px;
        height: 320px;
        left: 990px;
        top: 200px; 
    }

    &--bottom{
        position: absolute;
        width: 350px;
        height: 280px;
        left: 990px;
        top: 550px;    
    }
}