@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");
section {
  display: flex;
}

.panel {
  background: #FFF5EC;
  width: 75%;
  height: 100vh;
}

.panel--right {
  background-color: #FE043C;
  width: 25%;
}

.panel__nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.panel__nav .panel__brand {
  color: #FE043C;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 72px;
  line-height: 108px;
}
.panel__nav .panel__menu {
  width: 45%;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  padding-right: 10rem;
}
.panel__nav .panel__menu .panel__menu-list {
  list-style: none;
  display: flex;
  justify-content: space-around;
}
.panel__nav .panel__menu .panel__menu-list .panel__menu-item .panel__menu-link {
  text-decoration: none;
  color: #2E266F;
}
.panel__nav .panel__menu .panel__menu-list .panel__menu-item .panel__menu-link:hover {
  color: #FE043C;
}

.panel__content .panel__content-form .panel__content-form-button, .panel__user .panel__user-link, .panel__user {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ubication, .panel__content .panel__content-form {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.panel__user .panel__user-link {
  border-radius: 100%;
}

.panel__user {
  width: 100%;
  height: 10%;
  padding-left: 20%;
  font-family: "Poppins", sans-serif;
}
.panel__user .panel__user-link {
  background-color: #FFF5EC;
  width: 52px;
  height: 52px;
  font-size: 1.5em;
  color: #2E266F;
}
.panel__user .panel__user-link--drop {
  text-decoration: none;
  margin-left: 10px;
  color: #FFF5EC;
}
.panel__user .panel__user-link--drop .panel__user-icon--drop {
  margin-left: 5px;
}

.panel__content .panel__content-form .panel__content-form-button, .panel__user, .panel__user .panel__user-link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ubication, .panel__content .panel__content-form {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.panel__user .panel__user-link {
  border-radius: 100%;
}

.panel__content {
  width: 100%;
  height: 88.5vh;
  padding-top: 4%;
  padding-left: 132px;
}
.panel__content .panel__content-hide-title {
  width: 506px;
  height: 179px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 200px;
  line-height: 300px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: capitalize;
  color: #2E266F;
  opacity: 0.05;
}
.panel__content .panel__content-title {
  margin-bottom: 50px;
  width: 757px;
  height: 157px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 72px;
  line-height: 90px;
  color: #2E266F;
}
.panel__content .panel__content-form {
  width: 670px;
  height: 90px;
}
.panel__content .panel__content-form .panel__content-form-input {
  width: 222px;
  height: 18px;
  text-align: center;
  border: none;
}
.panel__content .panel__content-form .panel__content-form-input::placeholder {
  color: #2E266F;
  font-family: "Poppins", sans-serif;
}
.panel__content .panel__content-form .panel__content-form-button {
  border: none;
  border-radius: 60px 0px 0px 0px;
  width: 200px;
  height: 72px;
  background-color: #FE043C;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 90px;
  color: #FFF5EC;
}
.panel__content .panel__content-form .panel__content-form-button:hover {
  background-color: #d3002e;
  cursor: pointer;
}

.image {
  position: absolute;
  width: 750px;
  height: 742px;
  left: 1050px;
  top: 180px;
  background-image: url(../img/—Pngtree—delicious\ food_568171\ 1.png);
  background-size: cover;
}

.image--top {
  position: absolute;
  width: 480px;
  height: 900px;
  left: 1150px;
  top: -20px;
  background-image: url(../img/—Pngtree—lettuce_1175257\ 1.png);
  background-size: cover;
}

.panel__user, .panel__user .panel__user-link, .panel__content .panel__content-form .panel__content-form-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ubication, .panel__content .panel__content-form {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.panel__user .panel__user-link {
  border-radius: 100%;
}

.ubication {
  padding-left: 2%;
  padding-right: 2%;
  position: absolute;
  width: 280px;
  height: 65px;
  left: 0px;
  top: 800px;
  background-color: #FE043C;
  border-radius: 0px 100px 100px 0px;
  border: none;
  color: #FFF5EC;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 90px;
}

.ubication:hover {
  background-color: #d3002e;
  cursor: pointer;
}

.vector {
  position: absolute;
  width: 350px;
  height: 320px;
  left: 990px;
  top: 200px;
  background-image: url(../img/ellipsebg.svg);
  background-size: cover;
}

.vector--bottom {
  position: absolute;
  width: 350px;
  height: 280px;
  left: 990px;
  top: 550px;
  background-image: url(../img/ellipsebg.svg);
  background-size: cover;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*# sourceMappingURL=styles.css.map */
