.image{
    position: absolute;
    width: 750px;
    height: 750px - 8px;
    left: 1050px;
    top: 180px;
    background-image: url(../img/—Pngtree—delicious\ food_568171\ 1.png);
    background-size: cover;
}

.image--top{
    position: absolute;
    width: 480px;
    height: 900px;
    left: 1150px;
    top: -20px;
    background-image: url(../img/—Pngtree—lettuce_1175257\ 1.png);
    background-size: cover;
}