@import 'variables';
@import 'supers';

.panel__content{
    width: 100%;
    height: 88.5vh;
    padding-top: 4%;
    padding-left: 132px;

    .panel__content-hide-title{
        width: 506px;
        height: 179px;
        font-family: $h_font;
        font-style: normal;
        font-weight: 900;
        font-size: 200px;
        line-height: 300px;
        display: flex;
        align-items: center;
        text-align: center;
        text-transform: capitalize;
        color: $txt_color;
        opacity: 0.05;
    }

    .panel__content-title{
        margin-bottom: 50px;
        width: 757px;
        height: 157px;
        font-family: $h_font;
        font-style: normal;
        font-weight: bold;
        font-size: 72px;
        line-height: 90px;
        color: $txt_color;
    }

    .panel__content-form{
        @extend %space-around;
        width: 670px;
        height: 90px;

        .panel__content-form-input{
            width: 222px;
            height: 18px;
            text-align: center;
            border: none;
        }

        .panel__content-form-input::placeholder{
            color: $txt_color;
            font-family: $h_font;
        }

        .panel__content-form-button{
            @extend %align-center;
            border: none;
            border-radius: 60px 0px 0px 0px;
            width: 200px;
            height: 72px;
            background-color: $r_background;
            font-family: $h_font;
            font-style: normal;
            font-weight: 600;
            font-size: 30px;
            line-height: 90px;
            color: $w_background;
        }

        .panel__content-form-button:hover{
            background-color: $r_background_hovered;
            cursor: pointer;
        }
    }
}