.vector{
    position: absolute;
    width: 350px;
    height: 320px;
    left: 990px;
    top: 200px;
    background-image: url(../img/ellipsebg.svg);
    background-size: cover;
}

.vector--bottom{
    position: absolute;
    width: 350px;
    height: 280px;
    left: 990px;
    top: 550px;
    background-image: url(../img/ellipsebg.svg);
    background-size: cover;
}