@import 'page';
@import 'panel';
@import 'panel-nav';
@import 'panel-user';
@import 'panel-content';
@import 'image';
@import 'ubication';
@import 'vector';


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}