@import './blocks/page';
@import './blocks/panel';
@import './blocks/image';
@import './blocks/ubication';
@import './blocks/vector';
@import './blocks/description';
@import './blocks/card';
@import './blocks/advbooking';
@import './blocks/services';
@import './colors/colors';


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: $w_background;
}